<div id="cell">
    <div class="cell_left">
        <a class="avatar" href="#">
            <img src="<%= topic.author.avatar_url %>" title="<%= topic.author.loginname %>">
        </a>
        <span class="reply_count">
        <span class="count_of_replies" title="回复数"><%= topic.reply_count%></span>
        <span class="count_seperator">/</span>
        <span class="count_of_visits" title="点击数"><%= topic.visit_count%></span>
    </span>
        <% include badge.html %>
        <div class="title_wrapper">
            <a href='/topic/<%= topic.id %>' title='<%= topic.title %>'><%= topic.title %></a>
        </div>
    </div>
    <span><%= base %></span>
</div>