<% include sidebar.html %>
<div id="content">
    <div id="tabs">
        <% var tabKeys = Object.keys(tabs);
        tabKeys.forEach(function(value){
        var text = tabs[value]; %>
        <a href="<%= value ? '/?tab=' + value : '/' %>"
           class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
        <% }) %>
    </div>
    <% if(typeof(topics) !== 'undefined' && topics.length>0){ %>
    <% topics.forEach(function(topic){ %>
    <% include topic/list.html %>
    <% }) %>
    <% } else { %>
    <div class="inner">
        <p>无话题</p>
    </div>
    <% } %>
    <% include topic/pagination.html %>
</div>