<!DOCTYPE html>
<html lang="en">
<head>
    <% if (typeof(title) !== 'undefined'){ %>
        <title><%= title %></title>
    <% }else{ %>
        <title>CNode中文社区</title>
    <% } %>

    <!-- style -->
    <%- Loader('/public/styles/style.css')
    .css('/styles/style.css')
    .css('/styles/common.css')
    .css('/public/styles/sidebar.less')
    .css('/public/styles/content.less')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

</head>
<body>
<header>
    <div class="navbar">
        <a class="logo" href="/">
            <img src="https://cnodejs.org/public/images/cnodejs_light.svg">
        </a>
        <form id='search_form' class='navbar-search' action="/search">
            <input type='text' id='q' name='q' class='search-query span3' value=''/>
        </form>
        <ul class="menu">
            <li><a href="/">首页</a></li>
            <li><a href="/">新手入门</a></li>
            <li><a href="/">API</a></li>
            <li><a href="/">关于</a></li>
            <li><a href="/">注册</a></li>
            <li><a href="/">登录</a></li>
        </ul>
    </div>
</header>
<div id="main">
    <%- body %>
</div>

</body>
</html>