<!DOCTYPE html>
<html lang="en">
<head>
    <% if (typeof(title) !== 'undefined'){ %>
    <title><%= title %></title>
    <% }else{ %>
    <title>CNode中文社区</title>
    <% } %>

    <!-- style -->
    <%- Loader('/public/styles/index.min.css')
    .css('/styles/style.css')
    .css('/styles/common.css')
    .css('/public/styles/sidebar.less')
    .css('/public/styles/content.less')
    .css('/styles/jquery.atwho.css')
    .css('/libs/code-prettify/prettify.css')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

    <!-- scripts -->
    <%- Loader('/public/index.min.js')
    .js('/libs/jquery-2.1.0.js')
    .js('/libs/lodash.compat.js')
    .js('/libs/jquery-ujs.js')
    .js('/libs/jquery.caret.js')
    .js('/libs/jquery.atwho.js')
    .js('/libs/markdownit.js')
    .js('/libs/code-prettify/prettify.js')
    .js('/javascripts/main.js')
    .js('/javascripts/responsive.js')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

</head>
<body>
<header>
    <div class="navbar">
        <a class="logo" href="/">
            <img src="https://cnodejs.org/public/images/cnodejs_light.svg">
        </a>
        <form id='search_form' class='navbar-search' action="/">
            <input type='text' id='q' name='q' class='search-query span3' value=''/>
        </form>
        <ul class="menu">
            <li><a href="/">首页</a></li>
            <li><a href="/">新手入门</a></li>
            <li><a href="/">API</a></li>
            <li><a href="/">关于</a></li>
            <li><a href="/">注册</a></li>
            <li><a href="/">登录</a></li>
        </ul>
    </div>
</header>
<div id="main">
    <%- body %>
</div>
<footer>
    <div class="container">
        <a href="https://github.com/rocwangv/cnode-express" target="_blank">Github 源码地址</a>
        <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
        <span class="peace">Peace ❤️ Love</span>
    </div>
</footer>
</body>
</html>