@gray1: #e1e1e1;
@gray2: #f6f6f6;
@theme_green: #80bd01;
@theme_black: #444444;
@theme_black3: #333333;

#content {
  padding: 0;
  margin-right: 320px;

  #tabs {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
    .topic-tab {
      color: @theme_green;
      margin: 0 10px;
      text-decoration: none;
      &:hover {
        color: #228B22;
      }
    }
    .current-tab {
      background: @theme_green;
      color: #ffffff;
      padding: 3px 4px;
      border-radius: 3px;
    }
  }

  #cell {
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #f0f0f0;

    .cell_left {
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
    }

    .avatar {
      height: 30px;
      margin-right: 10px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
      }
    }

    .reply_count {
      margin-right: 10px;
      width: 70px;
      text-align: center;

      .count_of_replies {
        color: #9e78c0;
        font-size: 12px;
        margin: 0;
      }
      .count_seperator {
        margin: 0 -3px;
        font-size: 10px;
      }
      .count_of_visits {
        font-size: 10px;
        color: @theme_black;
        margin: 0;

      }
    }

    .title_wrapper {
      a {
        color: @theme_black3;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 50px;
        max-width: 550px;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: @theme_black;
        }
      }
    }

    .create_date {
      font-size: 12px;
      color: #777;
    }
  }

  .pagination {
    background: #fff;
    height: 40px;
    border-radius: 0px 0px 3px 3px;
    padding-left: 20px;
    ul {
      margin: 0;
      border: 1px solid #f0f0f0;
      padding: 0;
      float: left;
      border-radius: 3px;

      .disabled:hover {
        background-color: #ffffff;
      }

      li {
        text-decoration: none;
        list-style: none;
        float: left;
        border: 1px solid #FFFFFF;
        padding: 5px 10px;
        border-right: 1px solid #f0f0f0;

        &:hover {
          background-color: #f5f5f5;
        }

        a {
          text-decoration: none;
        }

      }
      li:nth-last-child(1) {
        border-right: 0;
      }
    }
  }

  .badge {
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 3px;
    margin-right: 5px;
  }

  .badge_good {
    background-color: #9e78c0;
    color: #ffffff;
  }
  .badge_top {
    background-color: @theme_green;
    color: #ffffff;

  }
  .badge_tab {
    background-color: #e5e5e5;
    color: #999;
  }

  //详情页
  .title-block {
    background-color: #ffffff;
    padding: 1px 10px 10px 10px;
    border-bottom: 1px solid #e7e7e7;
    span {
      color: #838383;
      font-size: 12px;
      margin-right: 5px;
    }
    span:before {
      content: '·'
    }
  }
  article {
    background: #fff;
    margin: 0;
    padding: 10px;
    color: #444;
    .markdown-text {
      img, p img {
        max-width: 100%;
      }
      a {
        text-decoration: none;
      }
      blockquote {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        border-left: 5px solid #eee;
      }
      pre code {
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
      }
      table {
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        font: inherit;

        tr {
          border-top: 1px solid #ccc;
          background-color: #fff;
          margin: 0;
          padding: 0;
          th, td {
            border: 1px solid #ccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
          }
        }
      }
    }
  }
  .replies {
    .total_reply {
      background-color: #f6f6f6;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      color: #444444;
      margin-bottom: 0;
    }
    .list {
      background-color: #ffffff;

      .reply_item {
        border-bottom: 1px solid #e7e7e7;
        .reply_header {
          height: 35px;
          padding: 5px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 1px solid #f5f5f5;
            float: left;
          }
          .author_panel {
            float: left;
            margin-left: 10px;

            .loginName {
              font-weight: bold;
              font-size: 12px;
            }
            .floor {
              font-size: 10px;
              color: #999;
            }
            .floor:after {
              content: '楼'
            }
            .date {
              font-size: 10px;
              color: #999;
            }
            .author {
              background-color: @theme_green;
              color: #ffffff;
              padding: 3px;
              border-radius: 3px;
              font-size: 10px;
            }
          }
        }

        .reply_content {
          margin-top: -15px;
          margin-bottom: 10px;
          padding-left: 40px;
          padding-right: 20px;
          p {
            margin: 0;
          }
          img, p img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.author_card {
  float: right;
  width: 300px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
  }
  .header {
    height: 35px;
    background-color: #f6f6f6;
    line-height: 35px;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding-left: 10px;

  }
  .card_content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    p {
      color: #444;
    }

  }
  .login_name {
    height: 50px;
    line-height: 50px;
    color: #888;
  }

}

.recent_topics {
  float: right;
  width: 300px;
  margin-top: 20px;
  .header {
    height: 35px;
    background-color: #f6f6f6;
    line-height: 35px;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding-left: 10px;

  }
  .topic {
    background-color: #ffffff;
    margin: 0;
    padding: 5px 10px;
    a{
      text-decoration: none;
      color: #666;
    }
  }
}